      <h3>Room id: {{channel_id}}</h3>
      <h3>Name: {{channel_name}}</h3>
      <div class="row">
        <div class="col-md-2">
          <ul class="well">
            <h5>Users</h5>
            <li *ngFor="let user of channel_users" ng-bind="user">
              {{user}}
            </li>
          </ul>
        </div>
        <div class="col-md-10">
          <table class="table table-striped table-bordered chat-table">
            <thead>
              <tr>
                <th style="width: 25%" class="">Name</th>
                <th style="width: 50%" class="">Text</th>
                <th style="width: 25%" class="">Image</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor='let msg of channel_messages'>
                <td class="" ng-bind="msg.username"><img width='100px' height='100px' src='{{image_api_url}}{{msg.user_id}}.jpg'/>{{msg.username}}</td>
                <td class="" ng-bind="msg.message">{{msg.message}}</td>
                <td class=""><img width='100px' height='100px' src='{{image_api_url}}{{msg.image}}'/></td>
              </tr>
            </tbody>
          </table>
      </div>
        </div>
          <div class="row controls">
            <form role="form" (submit)='send_message($event)'>
              <div class="form-group">
                <input class="form-control" name='message'[(ngModel)]='message' placeholder="Message" required>
              </div>
        			<div class="form-group">
        				<label for="send_image">
        					Image:
        				</label>
        				<input id='send_image' class="form-control" (change)='onFileSelected($event)' [(ngModel)]='send_image' type="file" name='send_image'>
        			</div>
              <div *ngIf="message == undefined || message == ''" class="alert alert-danger">
                Message is required
              </div>
        			<button class="span1 btn btn-primary" type='submit'>
        				Submit
        			</button>
            </form>
          </div>

